<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mfarag.learn"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".udacity.content_provider.ContactsActivity"
            android:label="@string/title_activity_contacts">
        </activity>
        <activity
            android:name=".fragment.FragmentsActivity"
            android:label="@string/title_activity_fragments"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mfarag.learn.MainActivity"/>
        </activity>
        <activity
            android:name=".content_provider.ContentProviderActivity"
            android:label="@string/activity_label_content_provider"/>

        <provider
            android:name=".content_provider.ItemProvider"
            android:authorities="com.mfarag.learn.content_provider"/>

        <activity android:name=".service.ServiceManagementActivity">
        </activity>

        <service android:name=".service.MyService"/>
        <service
            android:name=".service.MyIntentService"
            android:exported="false">
        </service>

        <receiver
            android:name=".service.ServiceManagementActivity$MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mfarag.learn.SERVICE_CALLBACK"/>
            </intent-filter>
        </receiver>

        <activity android:name=".notifications.NotificationsActivity">
        </activity>
        <activity android:name=".settings.SettingsActivity">
        </activity>
    </application>

</manifest>
